.action {
  background-color: $white;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.action__header {
  color: $black;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 42px;
}

.action__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

@media (min-width: $mobile-width-only) {
  .action__list {
    display: flex;
    justify-content: column;
  }
}

@media (min-width: $tablet-width) {
  .action__list {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .action__list {
    display: flex;
    justify-content: space-between;
  }
}

.action__item {
  @include font-family-descr;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
