.additionally {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .additionally {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -65px;
  }
}

.additionally__header {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 39px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 14px;
    left: 163px;
    width: 137px;
    height: 2px;
    background-color: $basic-green;
  }
}

@media (min-width: $tablet-width) {
  .additionally__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 57px;
    margin-left: 10px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -60px;
      width: 30px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 261px;
      width: 447px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .additionally__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 57px;
    margin-left: 0;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -110px;
      width: 70px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 251px;
      width: 1079px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

.additionally__sugar-sub,
.additionally__water,
.additionally__milk,
.additionally__vitamins {
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  margin-left: 21px;
}

@media (min-width: $tablet-width) {
  .additionally__sugar-sub,
  .additionally__water,
  .additionally__milk,
  .additionally__vitamins {
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    text-align: left;
    margin-left: 46px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__sugar-sub,
  .additionally__water,
  .additionally__milk,
  .additionally__vitamins {
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    text-align: left;
    margin-left: 30px;
  }
}

.additionally__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 157px;
}

@media (min-width: $tablet-width) {
  .additionally__checkbox {
    display: grid;
    grid-template-columns: 350px 355px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__checkbox {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
    min-width: 1180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 98px;
  }
}

.additionally__wrapper {
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .additionally__wrapper {
    margin-bottom: 0;
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    margin-bottom: 0;
    margin-top: 9px;
    min-width: 230px;
  }
}
