.additionally {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .additionally {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -65px;
  }
}

.additionally__header {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 29px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 14px;
    left: 163px;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
  }
}

@-moz-document url-prefix("") {
  .additionally__header {
    color: $black;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 29px;

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: -39px;
      left: 163px;
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
    }
  }
}


@media (min-width: $tablet-width) {
  .additionally__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 44px;
    margin-left: 10px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -60px;
      width: 30px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 261px;
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

@-moz-document url-prefix("") {
  @media (min-width: $tablet-width) {
    .additionally__header {
      color: $black;
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      margin-bottom: 44px;
      margin-left: 10px;

      &::before {
        position: absolute;
        display: block;
        content: "";
        top: -55px;
        left: -60px;
        width: 30px;
        height: 2px;
        background-color: $basic-green;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        top: -55px;
        left: 261px;
        width: 100vw;
        height: 2px;
        background-color: $basic-green;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .additionally__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 60px;
    margin-left: 0;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -110px;
      width: 70px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 251px;
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

@-moz-document url-prefix("") {
  @media (min-width: $desktop-width) {
    .additionally__header {
      color: $black;
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      margin-bottom: 60px;
      margin-left: 0;

      &::before {
        position: absolute;
        display: block;
        content: "";
        top: -71px;
        left: -110px;
        width: 70px;
        background-color: $basic-green;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        top: -71px;
        left: 251px;
        width: 100vw;
        height: 2px;
        background-color: $basic-green;
      }
    }
  }
}

.additionally__sugar-sub,
.additionally__water,
.additionally__milk,
.additionally__vitamins {
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .additionally__sugar-sub,
  .additionally__water,
  .additionally__milk,
  .additionally__vitamins {
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additionally__sugar-sub,
  .additionally__water,
  .additionally__milk,
  .additionally__vitamins {
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    text-align: left;
    margin-left: 0;
  }
}

.additionally__input {
  display: none;
}

.additionally__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 157px;
}

@media (min-width: $tablet-width) {
  .additionally__checkbox {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 690px;
    margin-left: 10px;
    margin-right: 0;
    min-height: 144px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__checkbox {
    min-width: 1220px;
    margin-left: 0;
    margin-bottom: 62px;
    min-height: 40px;
  }
}

.additionally__wrapper {
  margin-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .additionally__wrapper {
    margin-bottom: 0;
    width: 221px;
    min-height: 40px;
    margin-right: 123px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    margin-bottom: 32px;
    margin-top: -19px;
    margin-right: 105px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper:last-of-type {
    margin-right: 0;
  }
}

.additionally__input + .additionally__sugar-sub {
  fill: none;
  stroke: $special_grey;
  cursor: pointer;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input + .additionally__milk {
  fill: none;
  stroke: $special_grey;
  cursor: pointer;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input + .additionally__water {
  fill: none;
  stroke: $special_grey;
  cursor: pointer;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input + .additionally__vitamins {
  fill: none;
  stroke: $special_grey;
  cursor: pointer;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input:checked + .additionally__sugar-sub {
  stroke: $special_grey;
  fill: $basic-green;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input:checked + .additionally__milk {
  stroke: $special_grey;
  fill: $basic-green;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input:checked + .additionally__water {
  stroke: $special_grey;
  fill: $basic-green;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__input:checked + .additionally__vitamins {
  stroke: $special_grey;
  fill: $basic-green;

  &:hover {
    stroke: $basic-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__check {
  margin-top: 3px;
  margin-right: 12px;
  vertical-align: text-bottom;
}

@media (min-width: $tablet-width) {
  .additionally__check {
    vertical-align: text-bottom;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-right: 13px;
  }
}
