.card {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $white;
}

.card__list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.card__name {
  @include alink;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.card__buy {
  @include alink;
  color: $white;
  background-color: $basic-green;
  padding: 1px 48px;
}
