.cat-data {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.cat-data__name,
.cat-data__weight,
.cat-data__age {
  color: $special_dark-grey;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
