.example {
  background-color: $special-light-grey;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
    border-top: 1px solid $grey;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $white;
    min-height: 462px;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__header {
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  padding-top: 27px;
  margin-bottom: 33px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__header {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 49px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__header {
    grid-column: 1;
    grid-row: 1;
    color: $black;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 75px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.example__description {
  @include font-family-descr;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 21px;
}

@media (min-width: $tablet-width) {
  .example__description {
    @include font-family-descr;
    grid-column: 1/4;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 54px;
    margin-left: 30px;
    margin-right: 36px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    margin-left: 110px;
    max-width: 436px;
    margin-right: 15px;
  }
}

.example__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__list {
    grid-column: 1/2;
    grid-gap: 42px;
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__list {
    grid-column: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
    max-width: 336px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    margin-bottom: 228px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: grid;
    /*grid-template-columns: 1fr;*/
    grid-template-rows: min-content 1fr 1fr;
    background-color: $special-light-grey;
    padding-bottom: 34px;
    padding-top: 70px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper-results {
    position: relative;
    background-color: $special-light-grey;
    min-height: 462px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper-image {
    position: absolute;
    top: -169px;
    left: 44px;
    width: 690px;
    height: 517px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper-image {
    position: absolute;
    top: -190px;
    left: -42px;
  }
}

.example__wrapper-image-after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example__wrapper-image-after {
    display: block;
    position: absolute;
    top: -170px;
    left: 53px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper-image-after {
    display: block;
    position: absolute;
    top: -190px;
    left: -40px;
  }
}

.example__item {
  position: relative;
  min-width: 124px;
  min-height: 64px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__item {
    position: relative;
    min-width: 162px;
    min-height: 77px;
    text-align: center;
  }
}

.example__number {
  color: $black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $special_grey;
  border-radius: 3px;
  padding: 15px 0;
}

@media (min-width: $tablet-width) {
  .example__number {
    color: $black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 37px;
    border: 1px solid $special_grey;
    border-radius: 3px;
    padding: 15px 0;
    margin-top: -2px;
  }
}

.example__result {
  @include font-family-descr;
  position: absolute;
  top: 73px;
  left: 4px;
  z-index: 1;
  background-color: $special-light-grey;
  font-size: 12px;
  line-height: 12px;
  margin: 0 15px;
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .example__result {
    background-color: $white;
    top: 61px;
    left: 26px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto;
    padding: 0 8px;
  }
}

.example__result--days {
  top: 73px;
  left: 26px;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 59px;
  word-wrap: break-word;
  background-color: $special-light-grey;
}

@media (min-width: $tablet-width) {
  .example__result--days {
    background-color: $white;
    top: 61px;
    left: 11px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto;
    padding: 0 8px;
    max-width: 127px;
    word-wrap: normal;
  }
}

@media (min-width: $desktop-width) {
  .example__result {
    background-color: $special-light-grey;
  }
}

.example__coast {
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .example__coast {
    grid-column: 2/4;
    align-self: start;
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    margin-right: 30px;
    margin-left: 117px;
  }
}

@media (min-width: $desktop-width) {
  .example__coast {
    display: flex;
    justify-content: space-between;
    min-width: 327px;
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    justify-self: start;
    padding-top: 15px;
    margin-left: 109px;
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}
