.example {
  background-color: $special-light-grey;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__header {
  color: $black;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  padding-top: 27px;
  margin-bottom: 33px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__header {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 63px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__header {
    grid-column: 1;
    grid-row: 1;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 63px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.example__description {
  @include font-family-descr;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__description {
    @include font-family-descr;
    grid-column: 1/4;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 54px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    @include font-family-descr;
    grid-column: 1;
    grid-row: 1;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 54px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.example__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__list {
    grid-column: 1/2;
    grid-gap: 42px;
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__list {
    grid-column: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    background-color: $special-light-grey;
    padding-bottom: 75px;
    padding-top: 70px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper-results {
    background-color: $special-light-grey;
  }
}

.example__item {
  position: relative;
  min-width: 124px;
  min-height: 64px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__item {
    position: relative;
    min-width: 162px;
    min-height: 77px;
    text-align: center;
  }
}

.example__number {
  color: $black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $special_grey;
  border-radius: 3px;
  padding: 15px 0;
}

@media (min-width: $tablet-width) {
  .example__number {
    color: $black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 37px;
    border: 1px solid $special_grey;
    border-radius: 3px;
    padding: 15px 0;
  }
}

.example__result {
  @include font-family-descr;
  position: absolute;
  top: 73px;
  left: 4px;
  z-index: 1;
  background-color: $special-light-grey;
  font-size: 12px;
  line-height: 12px;
  margin: 0 15px;
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .example__result {
    background-color: $white;
    top: 91px;
    left: 26px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto;
    padding: 0 8px;
  }
}

@media (min-width: $desktop-width) {
  .example__result {
    background-color: $special-light-grey;
  }
}

.example__coast {
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example__coast {
    grid-column: 2/4;
    align-self: center;
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0 auto;
    margin-right: 30px;
    margin-left: 117px;
  }
}

@media (min-width: $desktop-width) {
  .example__coast {
    grid-column: 1;
    grid-row: 3;
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0 auto;
  }
}
