.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 66px;
  width: auto;
  margin-top: 11px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 71px;
    min-width: 650px;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__ahead,
.main-nav__catalog,
.main-nav__program {
  @include alink;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  padding: 23px 0;
  border-bottom: 1px solid $grey;

  &:hover {
    color: $black;
    opacity: 0.6;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}

.main-nav__ahead {
  border-top: 1px solid $grey;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper .main-nav__ahead--active {
    border-bottom: 2px solid $basic-green;
    height: 34px;
  }
}

@media (min-width: $tablet-width) {
  .page-header .main-nav__catalog--active {
    border-bottom: 2px solid $basic-green;
    height: 34px;
    margin-left: -2px;
  }
}

@media (min-width: $tablet-width) {
  .page-header .main-nav__program--active {
    border-bottom: 2px solid $basic-green;
    height: 34px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__program {
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav .main-nav__ahead {
    margin-left: 43px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__program {
    margin-right: 90px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__ahead,
  .main-nav__catalog,
  .main-nav__program {
    @include alink;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: none;
    padding: 0;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__ahead,
  .main-nav__catalog,
  .main-nav__program {
    @include alink;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper .main-nav__ahead,
  .page-header__wrapper .main-nav__catalog,
  .page-header__wrapper .main-nav__program {
    @include alink;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper--index .main-nav__ahead,
  .page-header__wrapper--index .main-nav__catalog,
  .page-header__wrapper--index .main-nav__program {
    @include alink;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper .main-nav__ahead--active {
    border-bottom: 2px solid $white;
    height: 38px;
    margin-left: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper .main-nav__catalog--active {
    border-bottom: 2px solid $basic-green;
    height: 38px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper .main-nav__program--active {
    border-bottom: 2px solid $basic-green;
    height: 38px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  background-color: $white;
  cursor: pointer;
  border: 0;
  margin-right: 20px;
  outline: 0;
  outline-offset: 0;
}

.main-nav--opened .main-nav__toggle {
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -33px;
    left: 6px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 12px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
