.more-goods {
  background-color: $white;
  width: 280px;
  margin: 0 auto;
}

.more-goods__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 8px;
}

.more-goods__text {
  @include font-family-descr;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;
}

.more-goods__show-all {
  color: $special_dark-grey;
  font-size: 16px;
  text-align: center;
  width: 279px;
  background-color: $basic-grey;
  @include alink;
}
