.other-goods {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .other-goods {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 35px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.other-goods__header {
  color: $black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 0;
  margin-top: 28px;
  margin-bottom: 35px;
  text-align: left;
  vertical-align: middle;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 43px;
    left: 245px;
    width: 53px;
    height: 2px;
    background-color: $basic-green;
  }
}

@media (min-width: $tablet-width) {
  .other-goods__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 47px;
    text-align: left;
    vertical-align: middle;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: -30px;
      width: 30px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: 422px;
      width: 328px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .other-goods__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    vertical-align: middle;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: -110px;
      width: 90px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: 383px;
      width: 787px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

.other-goods__list {
  list-style: none;
  border-top: 1px solid $special_grey;
  margin: 0;
  padding: 0;
  margin-bottom: 57px;
}

@media (min-width: $tablet-width) {
  .other-goods__list {
    list-style: none;
    border: 1px solid $special_grey;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__list {
    list-style: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid $special_grey;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
  }
}

.other-goods__item {
  min-height: 129px;
  border-bottom: 1px solid $special_grey;
}


@media (min-width: $tablet-width) {
  .other-goods__item {
    display: flex;
    flex-direction: column;
    min-width: 632px;
    padding-left: 38px;
    padding-right: 38px;
    border-bottom: 1px solid $special_grey;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__item {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $special_grey;
    display: grid;
    grid-template-columns: 1fr min-content;
    min-height: 40px;
    margin: 0;
  }
}

.other-goods__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .other-goods__item-wrapper {
    display: grid;
    grid-template-columns: 1fr 94px;
    min-width: 226px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__item-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 39px;
    min-width: 226px;
  }
}

@media (min-width: $tablet-width) {
  .other-goods {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .other-goods__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods {
    display: flex;
    justify-content: space-between;
  }
}

.other-goods__name {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .other-goods__name {
    grid-column: 1;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
  }
}

.other-goods__quantity,
.other-goods__price {
  @include font-family-descr;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .other-goods__quantity,
  .other-goods__price {
    @include font-family-descr;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .other-goods__quantity {
    grid-column: 1;
  }
}

@media (min-width: $tablet-width) {
  .other-goods__price {
    grid-column: 2;
  }
}

.other-goods__buy {
  @include alink;
  color: $white;
  background-color: $basic-green;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 108px;
  padding-right: 108px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .other-goods__buy {
    @include alink;
    color: $white;
    background-color: $basic-green;
    font-size: 16px;
    text-align: center;
    margin-bottom: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__buy {
    @include alink;
    color: $white;
    background-color: $basic-green;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 6px;
    padding-left: 71px;
    padding-right: 71px;
    margin: 15px 0;
    vertical-align: middle;
    text-transform: uppercase;
    align-items: flex-end;
    max-width: 244px;
    justify-self: end;
  }
}

.other-goods__wrapper-gift {
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  min-height: 289px;
}

@media (min-width: $tablet-width) {
  .other-goods__wrapper-gift {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__wrapper-gift {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.other-goods__gift {
  @include font-family-descr;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin-top: 186px;
  margin-left: 60px;
  margin-right: 60px;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .other-goods__gift {
    grid-column: 2;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__wrapper-gift {
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto, auto;
    grid-column: 2;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .other-goods__list-gift-wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 80px;
  }
}
