.owner-data {
  border: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

.owner-data__title {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
}

.owner-data__email,
.owner-data__phone {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .owner-data {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .owner-data {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .owner-data__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .owner-data__wrapper-desktop {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 78px;
  }
}
