.owner-data {
  border: none;
}

.owner-data legend {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
}

.owner-data label {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}

.owner-data span {
  @include visually-hidden;
}
