.owner-data {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .owner-data {
    position: relative;
    border: none;
    padding: 0;
    margin-left: 37px;
    margin-right: 35px;
    margin-top: 71px;
    margin-bottom: 47px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .owner-data {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 71px;
    display: flex;
    flex-direction: column;
  }
}

.owner-data__title {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 32px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 17px;
    left: 200px;
    width: 100px;
    height: 2px;
    background-color: $basic-green;
  }
}

@media (min-width: $tablet-width) {
  .owner-data__title {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 76px;
    margin-top: 71px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -66px;
      width: 29px;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 556px;
      width: 145px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .owner-data__title {
    padding: 0;
    color: $black;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 76px;
    margin-top: 69px;
    margin-left: 0;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: -110px;
      width: 70px;
      background-color: $basic-green;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 22px;
      left: 551px;
      width: 777px;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

.owner-data__email,
.owner-data__phone {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .owner-data__email,
  .owner-data__phone {
    color: $special_dark-grey;
    font-size: 20px;
    line-height: auto;
    text-transform: uppercase;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .owner-data {
    display: flex;
  }
}

.owner-data__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 9px;
  min-width: 280px;
  margin-bottom: 11px;
  align-items: center;
  white-space: nowrap;
}

@media (min-width: $tablet-width) {
  .owner-data__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 20px;
    min-width: 632px;
    margin-bottom: 17px;
    align-items: center;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .owner-data__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 20px;
    min-width: 569px;
    align-items: center;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .owner-data__wrapper-desktop {
    display: grid;
    grid-template-columns: 569px 569px;
    grid-gap: 78px;
  }
}

.owner-data__input--mail {
  min-height: 45px;
  background-color: $white;
  padding: 0;
  border: 1px solid $grey-grey;
  border-radius: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  padding-left: 14px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 186px 13px;
  background-size: 20px 20px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:hover {
    padding: 0;
    background-color: $white;
    border: 1px solid $special_grey;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 186px 13px;
    background-size: 20px 20px;
  }

  &:active,
  &:focus {
    padding: 0;
    background-color: $white;
    border: 1px solid $special_dark-grey;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    outline: 0;
    outline-offset: 0;
    background-image: url("../img/icon-mail-active.svg");
    background-repeat: no-repeat;
    background-position: 186px 13px;
    background-size: 20px 20px;
  }

  &:invalid {
    padding: 0;
    background-color: $white;
    border: 1px solid $status_error;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    outline: 0;
    outline-offset: 0;
    background-image: url("../img/icon-mail-err.svg");
    background-repeat: no-repeat;
    background-position: 186px 13px;
    background-size: 20px 20px;
  }
}

.owner-data__input--phone {
  min-height: 45px;
  background-color: $white;
  padding: 0;
  border: 1px solid $grey-grey;
  border-radius: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  padding-left: 14px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 171px 13px;
  background-size: 20px 20px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:hover {
    padding: 0;
    background-color: $white;
    border: 1px solid $special_grey;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 171px 13px;
    background-size: 20px 20px;
  }

  &:active,
  &:focus {
    padding: 0;
    background-color: $white;
    border: 1px solid $special_dark-grey;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    outline: 0;
    outline-offset: 0;
    background-image: url("../img/icon-phone-active.svg");
    background-repeat: no-repeat;
    background-position: 171px 13px;
    background-size: 20px 20px;
  }

  &:invalid {
    padding: 0;
    background-color: $white;
    border: 1px solid $status_error;
    border-radius: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    padding-left: 14px;
    outline: 0;
    outline-offset: 0;
    background-image: url("../img/icon-phone-err.svg");
    background-repeat: no-repeat;
    background-position: 171px 13px;
    background-size: 20px 20px;
  }
}

@media (min-width: $tablet-width) {
  .owner-data__input--mail {
    min-height: 52px;
    background-color: $white;
    padding: 0;
    border: 1px solid $grey-grey;
    border-radius: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    color: $special_dark-grey;
    font-family: inherit;
    padding-left: 21px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 516px 17px;
    background-size: 20px 20px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 516px 17px;
      background-size: 20px 20px;
    }

    &:active,
    &:focus {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_dark-grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-mail-active.svg");
      background-repeat: no-repeat;
      background-position: 516px 17px;
      background-size: 20px 20px;
    }

    &:invalid {
      padding: 0;
      background-color: $white;
      border: 1px solid $status_error;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-mail-err.svg");
      background-repeat: no-repeat;
      background-position: 516px 17px;
      background-size: 20px 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .owner-data__input--phone {
    min-height: 52px;
    background-color: $white;
    padding: 0;
    border: 1px solid $grey-grey;
    border-radius: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    color: $special_dark-grey;
    font-family: inherit;
    padding-left: 21px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 495px 18px;
    background-size: 20px 20px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 495px 18px;
      background-size: 20px 20px;
    }

    &:active,
    &:focus {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_dark-grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-phone-active.svg");
      background-repeat: no-repeat;
      background-position: 495px 18px;
      background-size: 20px 20px;
    }

    &:invalid {
      padding: 0;
      background-color: $white;
      border: 1px solid $status_error;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 21px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-phone-err.svg");
      background-repeat: no-repeat;
      background-position: 495px 18px;
      background-size: 20px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .owner-data__input--mail {
    min-height: 48px;
    background-color: $white;
    padding: 0;
    border: 1px solid $grey-grey;
    border-radius: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    color: $special_dark-grey;
    font-family: inherit;
    padding-left: 19px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 450px 16px;
    background-size: 18px 13px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 450px 16px;
      background-size: 18px 13px;
    }

    &:active,
    &:focus {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_dark-grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-mail-active.svg");
      background-repeat: no-repeat;
      background-position: 450px 16px;
      background-size: 18px 13px;
    }

    &:invalid {
      padding: 0;
      background-color: $white;
      border: 1px solid $status_error;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-mail-err.svg");
      background-repeat: no-repeat;
      background-position: 450px 16px;
      background-size: 18px 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .owner-data__input--phone {
    min-height: 48px;
    background-color: $white;
    padding: 0;
    border: 1px solid $grey-grey;
    border-radius: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: auto;
    color: $special_dark-grey;
    font-family: inherit;
    padding-left: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 434px 12px;
    background-size: 19px 20px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 434px 12px;
      background-size: 19px 20px;
    }

    &:active,
    &:focus {
      padding: 0;
      background-color: $white;
      border: 1px solid $special_dark-grey;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-phone-active.svg");
      background-repeat: no-repeat;
      background-position: 434px 12px;
      background-size: 19px 20px;
    }

    &:invalid {
      padding: 0;
      background-color: $white;
      border: 1px solid $status_error;
      border-radius: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: auto;
      color: $special_dark-grey;
      font-family: inherit;
      padding-left: 19px;
      outline: 0;
      outline-offset: 0;
      background-image: url("../img/icon-phone-err.svg");
      background-repeat: no-repeat;
      background-position: 434px 12px;
      background-size: 19px 20px;
      fill: $status_error;
    }
  }
}
