.page-footer {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  justify-content: center;
  background-color: $basic-grey;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    margin-top: -3px;
    padding-bottom: 28px;
  }
}

.page-footer__logo {
  width: 280px;
  height: 24px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $light-grey;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    width: 128px;
    height: 24px;
    text-align: center;
    padding-top: 59px;
    padding-bottom: 32px;
    margin-left: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    width: 128px;
    height: 24px;
    text-align: center;
    padding-top: 59px;
    padding-bottom: 32px;
    border: none;
    justify-self: center;
    margin-left: -20px;
    margin-right: 145px;
  }
}

.page-footer__social-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 50px;
  padding-right: 60px;
}

@media (min-width: $tablet-width) {
  .page-footer__social-buttons {
    display: flex;
    justify-content: space-between;
    min-width: 129px;
    align-items: center;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__academy {
  @include font-family-descr;
  color: $special_dark-grey;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer__academy-wrapper {
  margin-left: 115px;
}

@media (min-width: $tablet-width) {
  .page-footer__academy-wrapper {
    margin-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__academy {
    display: flex;
    justify-content: flex-end;
    color: $special_dark-grey;
    font-size: 16px;
    text-align: left;
    padding-top: 59px;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__academy {
    display: flex;
    justify-content: flex-end;
    color: $special_dark-grey;
    font-size: 16px;
    text-align: left;
    padding-top: 65px;
    padding-bottom: 0;
    padding-left: 50px;
  }
}
