.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  background-color: $basic-grey;
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__logo {
  width: 280px;
  height: 24px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $light-grey;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    width: 128px;
    height: 24px;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 32px;
    border: none;
  }
}

.page-footer__social-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $light-grey;
}

@media (min-width: $tablet-width) {
  .page-footer__social-buttons {
    display: flex;
    justify-content: space-between;
    min-width: 129px;
    align-items: center;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__academy {
  color: $special_dark-grey;
  font-size: 16px;
  text-align: left;
  padding-top: 28px;
  padding-bottom: 22px;
}

.page-footer__academy-wrapper {
  margin-left: 155px;
}

@media (min-width: $tablet-width) {
  .page-footer__academy-wrapper {
    margin-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__academy {
    display: flex;
    justify-content: flex-end;
    color: $special_dark-grey;
    font-size: 16px;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 22px;
  }
}
