.page-main {
	position: relative;
}

.page-main__header {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 27px;
	margin-bottom: 41px;
	color: $black;
	font-size: 36px;
	line-height: 36px;
	text-align: left;
}
