.page-footer {
    position: relative;
    background-color: $white;
    margin-top: 29px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 22px;
}

.page-footer span,
.page-footer h2 {
    @include visually-hidden;
}

.page-footer__logo {
    position: absolute;
    width: 128px;
    height: 24px;
}

.page-footer__academy {
    color: $special_dark-grey;
    font-size: 16px;
    text-align: left;
}
