.prog {
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-position: center 80%, center 0%;
  background-repeat: no-repeat;
  background-size: auto, contain;
  margin-top: 27px;
  height: 480px;
}

.prog__header {
  color: $white;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  text-align: center;
}

.prog__slog {
  color: $white;
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
}

.prog__form {
  @include alink;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  background-color: $basic-green;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}
