.results {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-left: 34px;
  margin-right: 30px;
  padding-bottom: 19px;
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .results {
    top: 347px;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 98px;
    margin-right: 98px;
    padding-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .results {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 39px;
    margin-top: 0;
    padding-bottom: 0;
    max-width: 571px;
  }
}

.results__text {
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;

  &:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
    text-decoration-style: solid;
  }

  &:active {
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .results__text {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
    text-decoration-style: dotted;

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgba(0, 0, 0, 0.3);
      text-decoration-style: solid;
    }

    &:active {
      text-decoration: none;
    }
  }
}

.results__scale {
  position: absolute;
  top: 17px;
  left: 84px;
  height: 14px;
  min-width: 84px;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $special_grey;
}

@media (min-width: $tablet-width) {
  .results__scale {
    position: absolute;
    top: 28px;
    left: 43px;
    height: 4px;
    min-width: 428px;
    background-color: $special-super_grey;
    border: 1px solid $special-super_grey;
    border-radius: 6px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .results__scale {
    position: absolute;
    top: 28px;
    left: 42px;
    height: 4px;
    min-width: 428px;
    background-color: $special-super_grey;
    border: 1px solid $special-super_grey;
    border-radius: 6px;
    margin-left: 30px;
  }
}

.results__bar {
  position: absolute;
  top: 4px;
  left: 7px;
  min-height: 6px;
  width: 42%;
  border-radius: 6px;
  background-color: $basic-green;
}

@media (min-width: $tablet-width) {
  .results__bar {
    display: none;
  }
}

.results__toggle-img {
  display: none;
}

@media (min-width: $tablet-width) {
  .results__toggle-img {
    display: block;
    position: absolute;
    top: 14px;
    left: 269px;
    border-radius: 50%;
    box-shadow: (0 1px 3px rgba(0, 0, 0, 0.16));
    cursor: pointer;
    stroke: $special_grey;

    &:hover {
      position: absolute;
      top: 14px;
      left: 269px;
      border-radius: 50%;
      box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
      cursor: pointer;
      stroke: $special_grey;
    }

    &:active {
      position: absolute;
      top: 14px;
      left: 269px;
      border-radius: 50%;
      box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
      cursor: pointer;
      stroke: $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .results__toggle-img {
    display: block;
    position: absolute;
    top: 14px;
    left: 269px;
    border-radius: 50%;
    box-shadow: (0 1px 3px rgba(0, 0, 0, 0.16));
    cursor: pointer;
    stroke: $special_grey;

    &:hover {
      position: absolute;
      top: 14px;
      left: 269px;
      border-radius: 50%;
      box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
      cursor: pointer;
      stroke: $special_grey;
    }

    &:active {
      position: absolute;
      top: 14px;
      left: 269px;
      border-radius: 50%;
      box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
      cursor: pointer;
      stroke: $basic-green;
    }
  }
}
