.slim-pro {
  position: relative;
  background-color: $basic-grey;
  padding-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .slim-pro {
    position: relative;
    width: 708px;
    background-color: $basic-grey;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 22px;
    padding-bottom: 59px;
    margin-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro {
    position: relative;
    background-color: $basic-grey;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 55px;
    max-width: 570px;
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.slim-pro__header {
  color: $black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  padding-top: 32px;
  padding-left: 12px;
  margin-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.slim-pro__header--pro {
  padding-left: 41px;
}

@media (min-width: $tablet-width) {
  .slim-pro__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-top: 48px;
    margin-bottom: 9px;
    margin-left: 41px;
    text-align: left;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__header--pro {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-top: 48px;
    margin-bottom: 9px;
    margin-left: 12px;
    text-align: left;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 1;
  }
}


@media (min-width: $desktop-width) {
  .slim-pro__header--pro {
    margin-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__header {
    color: $black;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-top: 47px;
    padding-left: 72px;
    margin-bottom: 59px;
    text-align: left;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;
  }
}

.slim-pro__description {
  @include font-family-descr;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 15px;
  padding-bottom: 23px;
  text-align: left;
  border-bottom: solid 1px $light-grey;
}

@media (min-width: $tablet-width) {
  .slim-pro__description {
    @include font-family-descr;
    max-width: 377px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 53px;
    margin-right: 33px;
    margin-bottom: 35px;
    text-align: left;
    border-bottom: none;
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__description--pro {
    @include font-family-descr;
    max-width: 342px;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__description {
    @include font-family-descr;
    max-width: 467px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 53px;
    margin-right: 33px;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: none;
    grid-column: 1/3;
    grid-row: 2;
  }
}

.slim-pro__round {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 51px;
  height: 51px;
  background-color: $basic-green;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .slim-pro__round {
    position: relative;
    top: 46px;
    left: -62px;
    width: 200px;
    height: 200px;
    background-color: $basic-green;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 1/3;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__round {
    position: relative;
    top: 11px;
    left: 52px;
    width: 100px;
    height: 100px;
    background-color: $basic-green;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
  }
}

.slim-pro__image {
  position: absolute;
  top: -2px;
  left: 7px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .slim-pro__image {
    position: absolute;
    width: 88%;
    height: 95%;
    top: -9px;
    left: 12px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__image {
    position: absolute;
    width: 100%;
    height: 98%;
    top: -6px;
    left: 0;
    z-index: 1;
  }
}

.slim-pro__image-musk {
  position: absolute;
  top: 11px;
  left: -9px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .slim-pro__image-musk {
    position: absolute;
    width: 134%;
    height: 116%;
    top: -17px;
    left: -34px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__image-musk {
    position: absolute;
    width: 134%;
    height: 116%;
    top: -10px;
    left: -19px;
    z-index: 1;
  }
}

.slim-pro__catalog {
  @include alink;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-align: left;
  margin-left: 19px;
  margin-top: 10px;
  margin-bottom: 22px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    top: 9px;
    left: 104px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

.slim-pro__catalog:hover {
  @include alink;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-align: left;
  margin-left: 19px;
  margin-top: 10px;
  margin-bottom: 22px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    top: 9px;
    left: 104px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }
}

.slim-pro__catalog:active {
  @include alink;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-align: left;
  margin-left: 19px;
  margin-top: 10px;
  margin-bottom: 22px;
  text-transform: uppercase;
  opacity: 0.3;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    top: 9px;
    left: 104px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__catalog {
    @include alink;
    position: relative;
    font-size: 20px;
    line-height: 16px;
    color: $black;
    text-align: left;
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 57px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 10px;
      top: 9px;
      left: 132px;
      background-image: url("../img/icon-right-arrow-long.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__catalog:hover {
    @include alink;
    position: relative;
    font-size: 20px;
    line-height: 16px;
    color: $black;
    text-align: left;
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 57px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 10px;
      top: 9px;
      left: 132px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .slim-pro__catalog:active {
    @include alink;
    position: relative;
    font-size: 20px;
    line-height: 16px;
    color: $black;
    text-align: left;
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 57px;
    text-transform: uppercase;
    opacity: 0.3;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 10px;
      top: 9px;
      left: 132px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .slim-pro__catalog-image {
    position: absolute;
    top: 294px;
    left: 185px;
  }
}
