@mixin visually-hidden {
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
 	margin: -1px;
}

@mixin alink {
	text-decoration: none;
}

@mixin font-family-descr {
	font-family: 'Arial', sans-serif;
	color: $special_dark-grey;
}