$white: #ffffff;
$black: #000000;
$special_dark-grey: #444444;
$special_grey: #cdcdcd;
$special-super_grey: #dcdcdc;
$special_grey-2: #ebebeb;
$grey: #e6e6e6;
$grey-grey: #e7e7e7;
$status_error: #ff8282;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$light-grey: #d9d9d9;
$special-light-grey: #eaeaea;
$special_dark-grey-2: #222222;
$tablet-width: 768px;
$desktop-width: 1440px;
